body {
    margin: 0;
    padding: 0;
    background: #457585;
    height: 100vh;
}



#chatApp {
    display: none;
}

#default {
    margin-top: 25%;
}

#username {
    margin: 15px auto;
    width: 50%;
    display: block;
    font-size: 20px;
}

#usernameForm label {
    display: block;
    text-align: center;
    font-size: 25px;
    color: white;
}

#usernameForm button {
    width: 50%;
    margin: 0 auto;
    display: block;
}

.form-group {
    width: 100%;
}

#message {
    display: inline-block;
    width: 80%;
}


#chatForm button {
    display: inline-block;
    width: 60px;
}

#chat {
    height: 90vh;
    overflow-y: scroll;
    margin: 20px 0;
}

.usernameMessage {
    color: #000;
}

.chatMessage {
    font-size: 25px;
    width: 90%;
    word-wrap: break-word;
    color: #fff;
}

.DisConnectMessage {
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#onlineUsersWrapper {
    background: #457585;
    padding: 0;
    margin: 20px 0;
}

#onlineUsrsCount {
    background: rgb(189, 189, 194);
}

#onlineUsers li {
    width: 100%;
    background: #343B80;
    color: #fff;
    text-align: center;
    height: 40px;
    padding-top: 0.5em;
}

#onlineUsers li:nth-child(odd) {
    background: #292F66;
}

#onlineUsers #onlineUsersCount {
    background: rgb(189, 189, 194);
}